@use "./../utils" as *;

body {
  background-color: var(--background);
  color: var(--clr-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.4;
}

p {
  font-weight: 400;
  line-height: 1.4;
}

section:not(.mashroom),
.mashroom__container {
  width: min(100% - pxToRem(40), pxToRem(450));
  margin-block: pxToRem(40);
  margin-inline: auto;

  @include breakpoint-up("medium") {
    width: min(100% - pxToRem(100), pxToRem(1050));
    margin-block: pxToRem(80);
  }
}
